@import url(normalize.css);
@import url(normalize-override.css);

/* go crazy */

body {
	font-family: 'ff-meta-web-pro', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans, sans-serif;
	font-size: 1em; /*16px*/
	color: #333;
	line-height: 1.35em;
}
h1, h2, h3, h4, h5, h6 , header nav a, .datetime, .button {
	font-family: 'proxima-nova-sc-osf-ext-cond', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans, sans-serif;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2em;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 280px;
}

section {
	margin-bottom: 3em;	
}

.section-title {
	font-family: 'proxima-nova-sc-osf-ext-cond', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans, sans-serif;
	font-size: 2.66666666666667em;
	clear: both;
	padding-right: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: .125em;
}

 a:link,
 a:visited {
	color: #7CA6AC;
	text-decoration: none;
}

 a:hover,
 a:active {
	color: #000;
	text-decoration: underline;
}


.button, 
a.button {
	background: #333;
	color: #fff;
	text-decoration: none;
	padding: 0.33em 0.5em;
	display: inline-block;
}

.button:hover, 
.button:active, 
a.button:hover,
a.button:active {
	background: #ffc237;
	color: #000;
} 

 .fourcol .col {
	 margin-right: 3.6%;
	 width: 48.2%;
	 float: left;
 }

.fourcol .col:nth-child(even) {
	margin-right: 0;
} 

/*
 * Header styles
 */ 

header {
	background: #000 url(../img/stripes.jpg) center top fixed no-repeat;
	-webkit-transition: 1s height ease-out;
	color: #fff;
	overflow: hidden;
	width: 100%;
	min-height: 800px;
	position: relative;
	z-index: 2;
}

header h1 {
	text-indent: -9999%;
	height: 169px;
	width: 200px;
	background: transparent url(../img/logo.png) top left no-repeat;
	background-size: 200px 169px; /* TODO RE-RENDER LOGO */
	margin: 1em auto 0.5em;
}

header a:link,
header a:visited {
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.05555555555556em;
	font-weight: 400;
	padding: 0.33em 0.5em;	
}

header a:hover,
header a:active {
	background: rgba(0,0,0, 0.75);
	border-radius: 5px;
}

header nav {
	margin-bottom: 1.5em;
}

header nav ul {
	list-style: none outside none;
	padding-left: 0; 
	text-align: center;
}

header nav li {
	display: inline-block;
	margin-right: 3.6%;

}

header nav li.last {
	margin-right: 0;
}

header .wrapper {
	-webkit-transition: opacity .5s ease-in-out;
}

header .wrapper.slight {
	opacity: 0.2;
	-webkit-transition: opacity .5s ease-in-out;
}

article {
	max-width: 1100px;
	background: #fff;
	overflow: hidden;
	margin: -20em auto 0;
	position: relative;
	z-index: 5;
	padding-top: 2em;
	-webkit-transition: margin .5s ease-in-out;
}

article.show-art {
	margin-top: 0;
}

.artwork-panel,
.artwork-teaser {
	position: absolute;
	top: 3em;
	z-index: 15;
	padding: 1em;
	font-size: 0.75em;
}

.artwork-teaser {
	background: rgba(255,255,255,0.33);
	right: 0;
	color: #000;
}

.artwork-teaser.hidden {
	right: -9em;
}

.artwork-panel {	
	right: -15.44444444444444em;
	background: rgba(0,0,0,0.8);
	max-width: 11.16666666666667em;
	color: #fff;	
}

.artwork-panel.reveal {
	right: 0;

}

.artwork-panel p,
.artwork-teaser p {
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

.artwork-panel a {
	color: #fff;
}

.close-panel {
	position:absolute;
	top: 0.5em;
	right: 1em;
	text-decoration: none;
	font-size: 1.25em;
}

/*
 * Transitions stuff
 */
 .artwork-teaser,
 .artwork-teaser.hidden {
	 -webkit-transition: right 0.4s ease-in;
 }
 
  .artwork-teaser {
	  -webkit-transition-delay: 0.4s;
  }
 
 .artwork-panel,
 .artwork-panel.reveal {
	-webkit-transition: right 0.5s ease-in-out;
	-webkit-transition-delay: 0.4s;
 }
 
  .artwork-panel {
	 -webkit-transition-delay: 0;

  }

/*
* Introduction
*/

.intro {
	background-color: #ffc237;
	color: #fff;
}

.intro-text {
	padding: 1em 0;
}

.intro-text h2 {
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0.5em;
}

.intro-text p {
	padding-right: 1em;
	color: rgba(0,0,0,0.7);
}

.intro-text a {
	font-size: 0.875em; 
	color: #000;
	text-decoration: none;
}

/*
 * Listings styles
 */ 

 .listings ol {
	list-style: none outside none;
	padding-left: 0; 
 }
 
 .listings li {
	 margin-bottom: 2em;
	 position: relative;
 }
  
 .listings h3 {
	margin-bottom: 0.5em;	 
 }
 

 .listings h3 a {
 	color: #000;
 	text-decoration: none;
 	font-size: 1.523809524em; 
 }
 
  .listings h3 a:active, 
  .listings h3 a:hover {
	  color: #ffc237;
  }
 
 .listings .datetime {
 	font-weight: 100;
 	text-transform: none;
 	font-size: 1.444444444em; 
 	padding-bottom: 0.384615385em; 
 }



/*
 * Events styles
 */ 
 
 .social {
	 width: 100%;
	 overflow: hidden;
	 margin-bottom: 0.5em;
 }

  .event .date:after {
 	 content: '  \2022';
 	 color: #7ca6ac;
 }
 
 .event .social a {;
	display: block;
	text-decoration: none;
	font-size: 1.8em;
	float: left;
	color: #7ca6ac;
	text-align: center;
	margin-right: 0.3em;
	line-height: 1.4em;
 }
 
  .event .social a:hover,
  .event .social a:active {
	  color: #333;
  }
  

  /*
 * Jobs styles
 */ 

.job span.company, .job span.location {
	display: block;
}
 
li.job-type {
	background-color: #f4f4f4;
	padding: 1em 1.8%;
}

 .jobs .fourcol .col {
 	width: 44.6%;
 }

.jobs-logo {
	display: block;
	width: 20%;
	position: absolute;
	top: 3.2em;
	left: 78.2%;
}


.job .location {
	margin-bottom: 0.5em;
}

.job .button {
	margin-bottom: 0.5em;
}

.job p {
	font-size: 0.825em;
	line-height: 1.6em;
}

.closingdate {
	margin-bottom: 1em;
}

/* Members */

.members {
	margin-bottom: 2em;
}

.priority-member {
	overflow: hidden;
	position: relative;
	height: 3.611111111em;
	margin-bottom: 1em;
}

.priority-member a{
	width: 46.313364055%;
	background: transparent url(../img/torchbox-pink.png) top left no-repeat;
	height: 3em;
	display: block;
	position: absolute;
	text-indent: -9999%;
	top: 0;
}

.priority-member a.white-october {
	background-image: url(http://www.whiteoctober.co.uk/images/logo.png);
	
}

.priority-member a.col1 {
	right: 0;
}

.priority-member a.col2{
	left: 0;
}

.other-members {
	padding-bottom: 2em;	
}
.other-members a {
	opacity: 0.6;
}

.other-members a:hover {
	opacity: 1;
}


/* More link */
.more-link {
	width: 100%;
	clear: 	both;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
	height: 0.5em;
	margin-bottom: 2em;
}

.more-link a:before {
	content: "\25BC";
	font-size: 0.75em;
	padding-bottom: 0.25em;
	color: #ddd;
	padding-right: .75em;
}

.more-link a:link,
.more-link a:visited {
	text-transform: uppercase;
	font-size: 0.88888888888889em;
	color: #aaa;
	text-decoration: none;
	padding: 0 2em;
	background: #fff;
}

.more-link a:hover,
.more-link a:active {
	 color: #333;
 }
 
 .become a:before {
	 content: "\002B";
	 font-size: 1.5em;
	 padding-right: .375em;
 }
 
 
/*
 *	Footer
 */ 
 
footer {
	 background: #55868d;
	 color: #fff;
	 padding: 2em 0;
	 margin-top: 2em;
}

footer a:link,
footer a:visited {
	color: rgba(255,255,255,0.8);
}
.tweets {
	font-size:  0.88888888888889em;
	margin-bottom: 1em;
}

.footer-info {
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.1);
	margin-top: 1em;
	padding-top: 1em;
}

.social-links {
	width: 40%;
	float: left;
}

.credit {
	width: 40%;
	float: right;
	text-align: right;
	font-size:  0.88888888888889em;
}

.tweets ul,
.social-links ul {
	list-style: none outside none;
	padding-left: 0;
}

.big-tweet {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3em;
	opacity: 0.6;
}

.social-links li {
	display: inline-block;
	margin-right: 0.5em;
}

.social-links a:link,
.social-links a:visited {
	color: #fff;
	font-size: 1.8em;
}

.social-links a:hover,
.social-links a:active {
	color: #000;
}
 
 
 
/*
 * Icons
 */
[class*="foundicon-"] {
	 display: none;
 }



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
