body {
	font-size: 1.125em; /* 18/16 = 1.125 18px */
}

article {
	margin-top: -23em;
}

header {
	min-height: 720px;
}

header h1 {
	height: 377px;
	width: 320px;
	background-size: 320px 377px;
	margin-top: 1em;
}

.section-title {
	font-size: 3.7em;
}


/*
* Introduction
*/

.intro {
	height: 500px;
	background: transparent url(../img/oxford.jpg) center top no-repeat;
	background-size: cover;
}

.intro .wrapper {
	position: relative;
}

.intro-text {
	background-color: #ffc237;
	width: 76%;
	position: absolute;
	top: 3em;
	left: 10%;
	padding-left: 2%;
	padding-right: 2%;
}

.artwork-panel,
.artwork-teaser {
	display: block;
}

article.show-art {
	margin-top: 0;
}

.artwork-panel,
.artwork-teaser {
	position: absolute;
	top: 3em;
	z-index: 15;
	padding: 1em;
	font-size: 0.75em;
}

.artwork-teaser {
	background: #fff;
	background: rgba(255,255,255,0.33);
	right: 0;
	color: #000;
}

.artwork-teaser.hidden {
	right: -10em;
}

.artwork-teaser a {
	color: #000;
}

.artwork-panel {
	right: -15.44444444444444em;
	background: #000;
	background: rgba(0,0,0,0.8);
	max-width: 11.16666666666667em;
	color: #fff;
}

.artwork-panel.reveal {
	right: 0;

}

.artwork-panel p,
.artwork-teaser p {
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

.artwork-panel a {
	color: #fff;
}

.close-panel {
	position:absolute;
	top: 0.5em;
	right: 1em;
	text-decoration: none;
	font-size: 1.25em;
}
