---
layout: layout
---

        <section class="tagline wrapper clearfix">
    		<h2>Digital Oxford connects creative <i>design</i> &amp; <i>technology</i> in the <i>Oxfordshire</i> area. We sponsor <i>events</i> and advertise <i>jobs</i> for anybody interested in the <i>web</i>.</h2>
    	</section>

        <section class="events listings wrapper" id="events">
			<h2 class="section-title">Events</h2>

            <ol class="threecol">
              <!-- If type = event.. -->
              {% for post in site.categories.event limit:3 %}
                  <li class="event-type col">
                    <div class="event">
                        <div class="datetime">
                            <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
                            <span class="time">{{ post.time }}</span>
                        </div>
                        <h3>
                            <a href="#">{{post.title}}</a>
                        </h3>
                        
                        <p>{{ post.detail }} <a href=" {{ post.link }}">More information&hellip;</a></p>
                        <div class="social media">
                            <a href="{{ post.twitter }}" class="ss-icon ss-social-circle">Twitter</a>
                            <a href="{{ post.facebook }}" class="ss-icon ss-social-circle">Facebook</a>
                            <a href="mailto:{{ post.email }}" class="ss-icon ss-social-circle">Email</a>
                        </div>
                  </li> <!-- /event -->
              {% endfor %}
            </ol>

            <ol class="threecol hidden-post">
                {% for post in site.categories.event offset:3 %}
                    <li {% cycle 'class="event-type col"', 'class="event-type col"', ' class="event-type col last"' %}>
                        <div class="event">
                            <div class="datetime">
                                <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
                                <span class="time">{{ post.time }}</span>
                            </div>
                            <h3>
                                <a href="#">{{post.title}}</a>
                            </h3>
                            <div class="social media">
                                <a href="{{ post.twitter }}" class="ss-icon ss-social-circle">Twitter</a>
                                <a href="{{ post.facebook }}" class="ss-icon ss-social-circle">Facebook</a>
                                <a href="mailto:{{ post.email }}" class="ss-icon ss-social-circle">Email</a>
                            </div>
                            <p>{{ post.detail }} <a href=" {{ post.link }}">More information&hellip;</a></p>
                      </li> <!-- /event -->
                  {% endfor %}
            </ol>

			<div class="more-link">
				<a class="button expand" href="#">More events</a>
			</div>
		</section>

		<section class="jobs listings wrapper" id="jobs">
			<h2 class="section-title">Jobs</h2>
				<ol class="fourcol">
                    {% for post in site.categories.job limit:4 %}
    					<li class="job-type col">
    						<div class="job">
    							<h3>
    								<a href="{{ post.link }}">{{ post.role}}</a>
    							</h3>
    							<span class="company">
    								<a href="{{ post.company_url }}">{{ post.company }}</a>
    							</span>
    							<span class="location">{{ post.location }}</span>
    							<p>{{ post.detail }}&hellip;</p>
    								<div class="closingdate">
    								<span class="closing">closing date</span>
    								 <span class=" datetime">{{ post.closing_date }}</span>
    							</div>
    							<a href="{{ post.link }}" class="button shadow">More details</a>
    						</div>
    					</li>
                    {% endfor %}
                </ol>

                <!-- Hidden jobs below - We loop over the jobs starting where we left off -->
                <ol class="fourcol hidden-post">
                    {% for post in site.categories.job offset:4 %}
                        <li {% cycle 'class="job-type col"', 'class="job-type col"','class="job-type col"', ' class="job-type col last"' %}>
                            <div class="job">
                                <h3>
                                    <a href="{{ post.link }}">{{ post.role}}</a>
                                </h3>
                                <span class="company">
                                    <a href="{{ post.company_url }}">{{ post.company }}</a>
                                </span>
                                <span class="location">{{ post.location }}</span>
                                <p>{{ post.detail }}&hellip;</p>
                                    <div class="closingdate">
                                    <span class="closing">closing date</span>
                                     <span class=" datetime">{{ post.closing_date }}</span>
                                </div>
                                <a href="{{ post.link }}" class="button shadow">More details</a>
                            </div>
                        </li>
                    {% endfor %}
                </ol>

				<div class="more-link">
					<a class="button expand" href="#">More jobs</a>
				</div>

		</section>
        <section class="members wrapper clearfix" id="members">
        	<h2 class="section-title">Members</h2>
        		<div class="other-members fourcol clearfix">
        			<a class="col" href="http://www.torchbox.com"><img src="img/torchbox-sprite.png" alt="torchbox"></a>
        			<a class="col" href="http://www.whiteoctober.co.uk"><img src="img/whiteoctober-sprite.png" alt="White October"></a>
        			<a class="member col" href="www.digitaloxon.com"><img alt="Digital Oxon" src="img/torchbox-grey.png"></a>
        			<a class="member col" href="www.digitaloxon.com"><img alt="Digital Oxon" src="img/torchbox-grey.png"></a>
        		</div>
        		<div class="more-link become">
                    <!-- Link to mailchimp form -->
					<a class="button" href="http://eepurl.com/qHH9P">Become a member</a>
				</div>
        </section>
