---
layout: layout
---

        <section class="tagline wrapper clearfix">
    		<h2>Promoting and supporting Oxford as a centre of digital talent, <br />ideas and opportunities.</h2>
    	</section>

        <section class="events listings wrapper" id="events">
			<h2 class="section-title">Events</h2>

            <ol class="threecol">
              <!-- If type = event.. - correct data order -->
              {% for post in site.categories.event reversed %}

                  {% if forloop.index == 4 %}
            </ol>

            <ol class="threecol hidden-post">
                  {% endif %}

                  <li class="event-type col{% cycle ' first', '', ' last' %}">
                    <div class="event">
                        <div class="datetime">
                            <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
                            <span class="time">{{ post.time }}</span>
                        </div>
                        <h3>
                            <a href=" {{ post.link }}" >{{post.title}}</a>
                        </h3>

                        <p>{{ post.detail }}</p>
                       <!-- <div class="social media">
                            <a href="{{ post.twitter }}" class="ss-icon ss-social-circle">Twitter</a>
                            <a href="{{ post.facebook }}" class="ss-icon ss-social-circle">Facebook</a>
                            <a href="mailto:{{ post.email }}" class="ss-icon ss-social-circle">Email</a>
                        </div>-->
                         <a href=" {{ post.link }}" class="button shadow">More details</a>
                  </li> <!-- /event -->
              {% endfor %}
            </ol>
            <div class="submit-link">
            	<a class="button submit" href="http://digitaloxford.wufoo.com/forms/submit-your-event-to-digital-oxford/">Submit event</a>
            </div>
			<div class="more-link">
				<a class="button expand" href="#">More events</a>
			</div>
		</section>

		<section class="jobs listings wrapper" id="jobs">
			<h2 class="section-title">Jobs</h2>

			<ol class="fourcol clearfix">
              <!-- If type = job.. - correct data order -->
              {% for post in site.categories.job reversed %}

              	  {% if forloop.index == 5 %}
			</ol>

            <ol class="fourcol hidden-post">
            	  {% endif %}

		    	  <li class="job-type col{% cycle ' first','','', ' last' %}">
		    	    <div class="job">
		    		    <h3>
		    		      <a href="{{ post.link }}">{{ post.role}}</a>
		    			</h3>
		    			<span class="company">
		    			  <a href="{{ post.company_url }}">{{ post.company }}</a>
		    			</span>
						<span class="location">{{ post.location }}</span>
							<p>{{ post.detail }}&hellip;</p>
							<div class="closingdate">
								<span class="closing">closing date</span>
								<span class=" datetime">{{ post.closing_date }}</span>
							</div>
						<a href="{{ post.link }}" class="button shadow">More details</a>
					</div>
				</li>
		        {% endfor %}
		      </ol>

                <div class="submit-link">
            		<a class="button submit" href="http://digitaloxford.wufoo.com/forms/submit-your-job-advert-to-digital-oxford/">Submit job</a>
            	</div>
				<div class="more-link">
					<a class="button expand" href="#">More jobs</a>
				</div>

		</section>

		<section class="members wrapper clearfix" id="members">
        	<h2 class="section-title">Members</h2>
        		<div class="member-logos fourcol clearfix">
        			<a class="col" href="http://www.torchbox.com"><img src="img/torchbox-logo.png" alt="Torchbox"/></a>
        			<a class="col" href="http://www.whiteoctober.co.uk"><img src="img/whiteoctober-logo.png" alt="White October"/></a>
        			<a class="col tall" href="http://www.roost-online.co.uk/"><img src="img/roost-logo.png" alt="Roost"/></a>
        			<a class="col tall" href="http://www.incuna.com/"><img src="img/incuna-logo.png" alt="Incuna"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
	        		<a class="col tall" href="http://www.oxfam.org.uk/"><img src="img/oxfam-logo.png" alt="Oxfam"/></a>
	        		<a class="col tall" href="http://www.ridgeway.net"><img src="img/ridgeway-logo.png" alt="Ridgeway"/></a>
	        		<a class="col tall" href="http://www.oxford-web.co.uk/"><img src="img/oxfordweb-logo.png" alt="Oxford Web"/></a>
	        		<a class="col" href="http://datasalon.com/"><img src="img/datasalon-logo.png" alt="Data Salon"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
                    <a class="col tall" href="http://www.tallprojects.co.uk/"><img src="img/tall-logo.png" alt="Tall Projects"/></a>
	        		<a class="col tall" href="https://sheepcrm.com"><img src="img/sheep-logo.png" alt="SheepCRM"/></a>
	        		<a class="col tall" href="http://www.electricstudio.co.uk/"><img src="img/electricstudio-logo.png" alt="Electric Studio"/></a>
	        		<a class="col" href="http://www.agilecollective.com"><img src="img/agilecollective-logo.png" alt="Agile Collective"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
	        		<a class="col" href="http://www.growcreate.co.uk/"><img src="img/growcreate-logo.png" alt="Grow Create"/></a>
	        		<a class="col" href="http://global.oup.com/"><img src="img/oup-logo.png" alt="Oxford University Press"/></a>
	        		<a class="col" href="http://www.navetas.com/"><img src="img/navetas-logo.png" alt="Navetas"/></a>
	        		<a class="col" href="http://www.2degreesnetwork.com/"><img src="img/2degrees-logo.png" alt="2degrees"/></a>
        		</div>
				<div class="member-logos fourcol clearfix">
					<a class="col" href="http://www.oxfordcc.co.uk/"><img src="img/occ-logo.png" alt="OCC"/></a>
					<a class="col" href="http://akorn.org/"><img src="img/akorn-logo.png" alt="Akorn"/></a>
					<a class="col" href="http://www.bottlepr.co.uk/"><img src="img/bottle.png" alt="Bottle PR"/></a>
					<a class="col" href="http://blucube.net/"><img src="img/blucube-logo.png" alt="Blucube"/></a>
        		</div>
				<div class="member-logos fourcol clearfix">
					<a class="col" href="http://www.muddystilettos.co.uk"><img src="img/muddystilettos.png" alt="Muddy Stilettos"/></a>
					<a class="col" href="http://www.itsjuice.com/"><img src="img/juice-logo.png" alt="Juice"/></a>
                    <a class="col tall" href="http://www.bunnyfoot.com/"><img src="img/bf-logo.jpg" alt="BunnyFoot"/></a>
					<a class="col" href="http://www.universlabs.co.uk/"><img src="img/universlabs-logo.png" alt="Univers labs"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
					<a class="col" href="http://www.obergine.com/"><img src="img/obergine-logo.png" alt="Obergine"/></a>
					<a class="col" href="http://www.adestra.com/"><img src="img/adestra-logo.png" alt="Adestra"/></a>
					<a class="col" href="http://www.soundmotive.tv/"><img src="img/soundmotive-logo.png" alt="Soundmotive"/></a>
					<a class="col" href="http://rareformnewmedia.com/"><img src="img/rareform-logo.png" alt="Rare Form New Media"/></a>
        		</div>
				<div class="member-logos fourcol clearfix">
					<a class="col" href="http://oneltd.co.uk/"><img src="img/one-logo.png" alt="One Ltd"/></a>
					<a class="col" href="http://www.neworbit.co.uk"><img src="img/neworbit-logo.png" alt="New Orbit"/></a>
					<a class="col" href="http://www.blipp.co.uk"><img src="img/blipp-logo.png" alt="Blipp"/></a>
					<a class="col" href="http://surge.it/"><img src="img/surge-logo.png" alt="Surge Information Technology Ltd"/></a>
        		</div>
				<div class="member-logos fourcol clearfix">
					<a class="col" href="http://www.torpedogroup.com/"><img src="img/torpedo-logo.png" alt="Torpedo"/></a>
					<a class="col" href="http://love-hz.com/"><img src="img/lovehz-logo.png" alt="Love Hz"/></a>
					<a class="col" href="http://www.redberrydigital.com/"><img src="img/redberry-logo.png" alt="Redberry"/></a>
					<a class="col" href="http://www.mysociety.org/"><img src="img/mysociety-logo.png" alt="mySociety"/></a>
        		</div>
				<div class="member-logos fourcol clearfix">
	        		<a class="col" href="http://www.persistencelabs.com/"><img src="img/persistencelabs-logo.png" alt="Persistence Labs"/></a>
	        		<a class="col" href="http://okapi.co.uk/"><img src="img/okapi-logo.png" alt="Okapi"/></a>
	        		<a class="col" href="http://truvl.com/"><img src="img/truvl-logo.png" alt="Truvl"/></a>
					<a class="col" href="http://www.urbanelement.com/"><img src="img/ue2014-logo.png" alt="Urban Element"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
	        		<a class="col" href="http://www.triteq.com/"><img src="img/triteq-ltd.png" alt="Triteq"/></a>
	        		<a class="col tall" href="http://www.biffbangpow.com/"><img src="img/biff-bang-pow.png" alt="BiffBangPow"/></a>
	        		<a class="col" href="http://www.webcurl.com"><img src="img/webcurl-logo.png" alt="Webcurl"/></a>
                     <a class="col tall" href="http://www.berlinerbenson.com/home/"><img src="img/berliner-benson.jpg" alt="Berliner Benson"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
        			<a class="col tall" href="http://www.B2M-Solutions.com"><img src="img/b2m.png" alt="B2M Solutions"/></a>
                    <a class="col tall" href="http://www.riverbank.co.uk/"><img src="img/riverbank.png" alt="RiverBank"/></a>
        			<a class="col tall" href="http://www.oxforddigitalmedia.co.uk"><img src="img/odm.png" alt="Oxford Digital Media"/></a>
                    <a class="col" href="http://www.syndicut.com/"><img src="img/syndicut-logo.png" alt="Syndicut"/></a>
        		</div>
        		<div class="member-logos fourcol clearfix">
        			<a class="col" href="http://white.net"><img src="img/white-logo.png" alt="White"/></a>
                    <a class="col" href="http://www.journl.com"><img src="img/journl-logo.png" alt="Journl"/></a>
                    <a class="col" href="http://www.pentangle.co.uk/"><img src="img/pentangle.gif" alt="Pentangle"/></a>
                    <a class="col" href="https://www.ziffy.cab/"><img src="img/ziffy.png" alt="Ziffy"/></a>

        		</div>
				<div class="more-link become">
                    <!-- Link to mailchimp form -->
					<a class="button" href="http://eepurl.com/r3hRX">Become a member</a>
				</div>
        </section>
