<!DOCTYPE html >
<html>
<head>
  <script type="text/javascript" src="//use.typekit.net/jnw3mcc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://code.jquery.com/jquery-1.8.1.min.js" type="text/javascript"></script>

  <title>Digital Oxford</title>

  <!-- Everyone gets this one -->
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  
  
  <link href="webfonts/ss-social.css" rel="stylesheet" />

  <!-- Only screens larger than 480px get this one -->
  <link rel="stylesheet" href="css/medium.css" media="all and (min-width: 481px)">

  <!-- Only screens larger than 768px get this one -->
  <link rel="stylesheet" href="css/large.css" media="all and (min-width: 769px)">

  <!-- Only retina (or similar) devices get this one -->
  <link rel="stylesheet" href="css/high-dpi.css" type="text/css" media="only screen and (-webkit-min-device-pixel-ratio: 1.5)">

 <link rel="icon" type="image/png" href="favicon.png" />
 
 <link rel="apple-touch-icon-precomposed" type="image/png" href="apple-touch-icon-precomposed.png" />
 <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
 <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
 <link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="Digital Ox">



  <!--[if lt IE 9]>
  	<link rel="stylesheet" type="text/css" href="css/medium.css" />
	<link rel="stylesheet" type="text/css" href="css/large.css" />
	<link rel="stylesheet" type="text/css" href="css/ie.css" />
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  
  <script>
    $(document).ready(function(){
    var artheight = '1100px';

      function toggleArtwork() {
          $("#main-article").toggleClass("show-art");
          $("#artwork-teaser").toggleClass("hidden");
          $(".logo").toggleClass("slight");
          $("#artwork-panel").toggleClass("reveal");
          $("header .wrapper").toggleClass("slight");
          $("header").toggleClass("artheight");
          return false;
        }

        $(".toggle-art").click(function() {
          toggleArtwork();
          return false;
         });

    });


  </script>

</head>

<body>


  <header>
    <div class="logo">
      <h1>Digital Oxfordshire</h1>
      <nav>
        <ul>
          <li><a href="#events">Events</a></li>
           <li><a href="#jobs">Jobs</a></li>
          <li class="last"><a href="#members">Members</a></li>
        </ul>

      </nav>
    </div>

    <div class="artwork-teaser" id="artwork-teaser">
      <p>Background by</p>
      <h2>
          <a href="#">Sarah Plant</a>
      </h2>
      <a href="" class="button artwork-button toggle-art">Show</a>
     </div>

      <div class="artwork-panel" id="artwork-panel">
        <p>Background by</p>
        <h2>Sarah Plant</h2>
        <p>Designer at @torchbox & Co-creator at @fermentzine</p>
        <a href="#">http://plantsarah.com</a>
        <a href="#" class="toggle-art close-panel">&times;</a>
      </div>

  </header> <!-- /Header -->

  <article id="main-article"class="clearfix">

    {{ content }}

  </article>

  <footer>
      <div class="wrapper">
        <div class="footer-info clearfix">
          <div class="social-links">
            <ul>
              <li><a href="http://www.twitter.com/digitaloxford" class="ss-icon ss-social-circle">Twitter</a></li>
              <li><a href="mailto:info@digitaloxford.co.uk" class="ss-icon ss-social-circle">Email</a></li>
            </ul>
          </div>
          <div class="credit">
            <p>Made in Oxford by <a href="http://www.torchbox.com/" >Torchbox</a> & <a href="http://www.whiteoctober.co.uk" >White October</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
